@model List<BLL.Entity.UserDTO>

<h2 class="text-white">Пользователи</h2>

<div class="row fullInfAboutAnime">
    <p>
        <a class="a-alert-info text-white" asp-action="CreateUser">Создать пользователя</a>
    </p>

    <table class="table text-white">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Email</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="a-alert-info text-white" asp-action="UserDetails" asp-route-id="@user.Id">Подробности</a> |
                        <a class="a-alert-info text-white" asp-action="EditUser" asp-route-id="@user.Id">Редактировать</a> |
                        <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post" onsubmit="return confirm('Вы уверенны, что хотите удатить данного пользователя?');">
                            <button type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>