@using System.Security.Claims;
@model BLL.Entity.AnimeDTO

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title - Подробная информация</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-white">@Model.Title</h1>
        </div>
        <div class="row fullInfAboutAnime">
            <div class="col-3">
                <img src="@Model.ImgPath" class="image" alt="@Model.Title">
                <div class="text-center">
                    @{
                        int? userRating = 0; // Предполагаем, что оценка пользователя по умолчанию равна 0
                                             // Найдем оценку пользователя для текущего аниме
                        foreach (var review in Model.Reviews)
                        {
                            if (review.UserId == @User.FindFirstValue(ClaimTypes.NameIdentifier))
                            {
                                userRating = review.Rating;
                                break; // Прерываем цикл, если нашли оценку пользователя
                            }
                        }
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form id="rating-form">
                            <div class="form-group">
                                <label class="text-white mb-1">Ваша оценка</label>
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-5" type="radio" name="rating" value="5" @(userRating == 5 ? "checked" : "")>
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-5" title="Отлично"></label>
                                        <input class="star-rating__input" id="star-4" type="radio" name="rating" value="4" @(userRating == 4 ? "checked" : "")>
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-4" title="Хорошо"></label>
                                        <input class="star-rating__input" id="star-3" type="radio" name="rating" value="3" @(userRating == 3 ? "checked" : "")>
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-3" title="Удовлетворительно"></label>
                                        <input class="star-rating__input" id="star-2" type="radio" name="rating" value="2" @(userRating == 2 ? "checked" : "")>
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-2" title="Плохо"></label>
                                        <input class="star-rating__input" id="star-1" type="radio" name="rating" value="1" @(userRating == 1 ? "checked" : "")>
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-1" title="Ужасно"></label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-info mt-2" role="alert">
                            Чтобы оценить это аниме, пожалуйста, <a href="/Account/Authorization" class="a-alert-info">войдите</a> в систему или <a href="/Account/Register" class="a-alert-info">зарегистрируйтесь</a>.
                        </div>
                    }
                </div>
            </div>
            <div class="col-8 about container">
                <div class="cc row">
                    <div class="info-left col-sm">
                        <div class="info">
                            Информация
                        </div>
                        <div class="text-white">
                            <div class="row">
                                <div class="col mb-3">
                                    Тип: @Model.TypeOfAnime
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    Эпизоды: @Model.NumberOfEpisodes
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    Статус: @Model.AnimeState
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">Жанры:</div>
                                @foreach (var genre in @Model.Genres)
                                {
                                    <div class="rightPadding col">@genre.Name</div>
                                }
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    Рейтинг: @Model.MPAA.Name
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            Мой статус просмотра
                        </div>
                        @{
                            string state = null; // Предполагаем, что оценка пользователя по умолчанию равна 0
                                                 // Найдем оценку пользователя для текущего аниме
                            foreach (var personalList in Model.PersonalLists)
                            {
                                if (personalList.UserId == @User.FindFirstValue(ClaimTypes.NameIdentifier))
                                {
                                    state = personalList.State.ToString();
                                    break; // Прерываем цикл, если нашли оценку пользователя
                                }
                            }
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="row">
                                <div class="col-12">
                                    <div class="list-group" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action newFon @(state == "Запланировано" ? "active" : "")" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-messages">Запланировано</a>
                                        <a class="list-group-item list-group-item-action newFon @(state == "Смотрю" ? "active" : "")" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-messages">Смотрю</a>
                                        <a class="list-group-item list-group-item-action newFon @(state == "Просмотрено" ? "active" : "")" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Просмотрено</a>
                                        <a class="list-group-item list-group-item-action newFon @(state == "Отложено" ? "active" : "")" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Отложено</a>
                                        <a class="list-group-item list-group-item-action newFon @(state == "Брошено" ? "active" : "")" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Брошено</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info mt-2" role="alert">
                                Для добавления аниме в свой список <a href="/Account/Authorization" class="a-alert-info">войдите</a> в систему или <a href="/Account/Register" class="a-alert-info">зарегистрируйтесь</a>.
                            </div>
                        }
                        @*  ..
                        Действия
                        .. *@
                        @if (User.Claims.FirstOrDefault(c => c.Type == "Roles")?.Value == "moder")
                        {
                            <div class="info">
                                Действия
                            </div>
                            <div class="d-flex justify-content-center">
                                <div style="margin-right: 10px;">
                                    <a href="@Url.Action("EditAnime", "Anime", new { id = Model.Id })" class="btn btn-primary">Редактировать</a>
                                </div>
                                <div>
                                    <form method="post" asp-controller="Anime" asp-action="DeleteAnime" asp-route-id="@Model.Id" onsubmit="return confirm('Вы уверены, что хотите удалить аниме?');">
                                        <button type="submit" class="btn btn-danger">Удалить аниме</button>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="info-right col-sm">
                        <div class="info">
                            <div class="row">
                                <div class="">
                                    Рейтинг
                                </div>
                            </div>
                        </div>
                        <div class="row text-white">
                            <div class="text-center">
                                @Model.AverageRating.ToString("F2") / 5
                            </div>
                        </div>
                        <div class="info">
                            Студия
                        </div>
                        <div class="text-center">
                            <div class="studio-card mb-2">
                                @if (Model.Studios.Any())
                                {
                                    <img src="@Model.Studios.FirstOrDefault()?.Description" class="studio-img-top" alt="@Model.Studios.FirstOrDefault()?.Name">
                                }
                            </div>
                            <div class="studio-title">
                                @if (Model.Studios.FirstOrDefault() != null)
                                {
                                    <div class="studio-title">
                                        @Model.Studios.FirstOrDefault().Name
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="info">
                            Статистика
                        </div>
                        <div class="statistics">
                            <div class="statistic">
                                <div class="label">Запланировано</div>
                                <div class="progress-bar">
                                    <div class="progress" style="width: @ViewBag.Statistics.PlannedPercentage%;"></div>
                                    <div class="progress-text">@ViewBag.Statistics.PlannedCount</div>
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="label">Смотрят</div>
                                <div class="progress-bar">
                                    <div class="progress" style="width: @ViewBag.Statistics.WatchingPercentage%;"></div>
                                    <div class="progress-text">@ViewBag.Statistics.WatchingCount</div>
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="label">Просмотрено</div>
                                <div class="progress-bar">
                                    <div class="progress" style="width: @ViewBag.Statistics.WatchedPercentage%;"></div>
                                    <div class="progress-text">@ViewBag.Statistics.WatchedCount</div>
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="label">Отложено</div>
                                <div class="progress-bar">
                                    <div class="progress" style="width: @ViewBag.Statistics.PostponedPercentage%;"></div>
                                    <div class="progress-text">@ViewBag.Statistics.PostponedCount</div>
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="label">Брошено</div>
                                <div class="progress-bar">
                                    <div class="progress" style="width: @ViewBag.Statistics.DroppedPercentage%;"></div>
                                    <div class="progress-text">@ViewBag.Statistics.DroppedCount</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="info">
                    Описание
                </div>
                <div class="text-white">
                    @Model.Description
                </div>
            </div>
            <div class="description">
                <div class="info">
                    Персонажи
                </div>
                <div class="row">
                    @foreach (var character in Model.Characters)
                    {
                        <div class="col-md-2 mb-4">
                            <a class="no-decoration" href="@Url.Action("CharacterDetails", "Anime", character)">
                                <div class="character-card">
                                    <img src="@character.ImgName" class="character-img-top" alt="@character.Name">
                                </div>
                                <div class="character-title">
                                    @character.Name
                                </div>
                            </a>
                        </div>
                    }
                </div>

            </div>
            <div class="description">
                <div class="info">
                    Форумы
                </div>
                <div id="forum-container">
                    @await Html.PartialAsync("_ForumListPartial", Model.Forums)
                    <script src="~/js/site.js"></script>
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="alert alert-info" role="alert">
                        Чтобы начать обсуждение, пожалуйста, <a href="/Account/Authorization" class="a-alert-info">войдите</a> в систему или <a href="/Account/Register" class="a-alert-info">зарегистрируйтесь</a>.
                    </div>
                }
                else
                {
                    <div class="text-white">
                        <form id="add-forum-form" method="post">
                            <div class="form-group mb-2">
                                <label for="title">Заголовок форума:</label>
                                <input type="text" class="form-control" id="title" name="Title">
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="AnimeId" value="@Model.Id" />
                            </div>
                            <button type="submit" class="btn btn-primary">Создать форум</button>
                        </form>
                    </div>
                }
                <div class="description">
                    <div class="info">
                        Рецензии
                    </div>
                    <div class="text-white">

                        <!-- Список рецензий -->
                        <div id="review-container">
                            @foreach (var review in Model.Reviews)
                            {
                                await Html.RenderPartialAsync("_ReviewPartial", review);
                            }
                        </div>
                        <!-- Проверяем, аутентифицирован ли пользователь -->
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="alert alert-info" role="alert">
                                Чтобы оставить рецензию, пожалуйста, <a href="/Account/Authorization" class="a-alert-info">войдите</a> в систему или <a href="/Account/Register" class="a-alert-info">зарегистрируйтесь</a>.
                            </div>
                        }
                        else
                        {
                            @if (userRating != 0)
                            {
                                <!-- Форма для отправки комментария -->
                                <form id="add-review-form" method="post">
                                    <input type="hidden" name="AnimeId" value="@Model.Id" />
                                    <div class="form-group text-white">
                                        <label for="comment">Оставить рецензию:</label>
                                        <textarea class="form-control" id="comment" name="Text" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-2">Отправить</button>
                                </form>
                            }
                            else
                            {
                                <div class="alert alert-info" role="alert">
                                    Чтобы оставить рецензию, пожалуйста, <a href="#rating-form" class="a-alert-info">поставьте оценку</a>
                                </div>
                            }

                        }

                    </div>
                </div>
                <!-- Комментарии -->
                <div class="description">
                    <div class="info">
                        Комментарии
                    </div>
                    <!-- Список комментариев -->
                    <div id="comments-container">
                        @foreach (var comment in Model.Comments)
                        {
                            @if (comment.ForumId == null)
                            {
                                await Html.RenderPartialAsync("_CommentPartial", comment);
                            }
                        }
                        <script src="~/js/site.js"></script>
                    </div>
                    <!-- Проверяем, аутентифицирован ли пользователь -->
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="alert alert-info" role="alert">
                            Чтобы оставить комментарий, пожалуйста, <a href="/Account/Authorization" class="a-alert-info">войдите</a> в систему или <a href="/Account/Register" class="a-alert-info">зарегистрируйтесь</a>.
                        </div>
                    }
                    else
                    {
                        <!-- Форма для отправки комментария -->
                        <form id="add-comment-form" method="post">
                            <input type="hidden" name="AnimeId" value="@Model.Id" />
                            <div class="form-group text-white">
                                <label for="comment">Оставить комментарий:</label>
                                <textarea class="form-control" id="comment" name="Text" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Отправить</button>
                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</body>
</html>
